.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: 400px;
  padding: 10px;
  -webkit-box-shadow: 0 4px 17px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 17px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 20px;
  background-color: #ffffff; }

.hotel__image {
  border-radius: 10px;
  max-width: 300px; }

.hotel__info {
  padding-left: 10px;
  width: 100%; }

.info__name {
  text-transform: capitalize;
  color: #3b2be2;
  font-size: 24px;
  max-width: 250px; }

.info__reviews {
  font-size: 16px; }

.info__score {
  font-weight: bold;
  color: #2da94f;
  font-size: 16px; }
